{% extends 'default/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block nav %}{% endblock nav %}
        </div>
        <div class="row">
        </div>
    </div>

{% endblock %}

